[submodule "projects/neuron_1/input/data"]
	path = projects/neuron_1/input/data
	url = https://gin.g-node.org/cmo/neuron_data_1
	datalad-id = ee7cbadc-958f-40f2-85f9-8c75835047fd
	datalad-url = https://gin.g-node.org/cmo/neuron_data_1
[submodule "projects/neuron_1/output/image_stacks"]
	path = projects/neuron_1/output/image_stacks
	url = https://gin.g-node.org/cmo/neuron_1_image_stacks
	datalad-id = 7d4af6bf-683d-4580-856a-6c0502dd01e5
	datalad-url = https://gin.g-node.org/cmo/neuron_1_image_stacks
[submodule "projects/neuron_1/output/plots"]
	path = projects/neuron_1/output/plots
	url = https://gin.g-node.org/cmo/neuron_1_plots
	datalad-id = c1092bba-56bc-4279-b33f-c152312b3bed
	datalad-url = https://gin.g-node.org/cmo/neuron_1_plots
