[submodule "projects/gcamp7/output/gcamp7-output-image-stacks"]
	path = projects/gcamp7/output/gcamp7-output-image-stacks
	url = https://gin.g-node.org/cmo/neuron_1_image_stacks
	datalad-id = 7d4af6bf-683d-4580-856a-6c0502dd01e5
[submodule "projects/gcamp7/output/gcamp7-output-plots"]
	path = projects/gcamp7/output/gcamp7-output-plots
	url = https://gin.g-node.org/cmo/neuron_1_plots
	datalad-id = c1092bba-56bc-4279-b33f-c152312b3bed
[submodule "projects/gcamp7/input/gcamp7-input-Ca2+-WT-and-AP-2KO-live-imaging"]
	path = projects/gcamp7/input/gcamp7-input-Ca2+-WT-and-AP-2KO-live-imaging
	url = https://gin.g-node.org/cmo/neuron_data_1
	datalad-id = ee7cbadc-958f-40f2-85f9-8c75835047fd
